.ChapterListItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ChapterListItem-chapter {
  margin-right: 12px;
  line-height: 32px;
}

.ChapterListItem-avatars {

}

.ChapterListItem-avatar {
  margin-right: 6px;
  cursor: pointer;
  /* default color */
  background: #4CAF50;
}