.App {
}

.App-header {
  display: flex;
  justify-content: center;
}

.App-header.ant-layout-header {
  color: white;
  background: #02396d;
  font-size: 1.2em;
  font-weight: 100;
}

.App-content {
  background: white;
  padding-top: 8px;
  display: flex;
  justify-content: center;
}

.App-container {
  position: relative;
  width: 100%;
  max-width: 800px;
}

.App-header-right {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.App-header-help {
  cursor: pointer;
  font-size: 1.2em;
}