.App {
}

.App-header.ant-layout-header {
  color: white;
  background: #02396d;
  font-size: 1.2em;
  font-weight: 100;
}

.App-content {
  background: white;
  padding-top: 8px;
  display: flex;
  justify-content: center;
}

.App-content-inner {
  width: 100%;
  max-width: 800px;
}