body {
  margin: 0;
  padding: 0;
  font-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
}

.App .ant-list-item {
  padding-right: 12px;
  padding-left: 12px;
}

.App .ant-layout-header {
  padding: 0 32px;
}